<%= simple_form_for(@building) do |f| %>

  <% if @building.errors.full_messages.count > 0 %>
    <ul>
      <% @building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.association :owner, label_method: :fullname %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :state, collection: @states %>
  <%= f.input :postal_code %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
